SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=https://north-standard-html-sitemap.vercel.app
SCOPES=read_products,read_content,write_content,read_online_store_navigation,write_app_proxy
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/html_sitemap
